@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
/* .Container {
    margin: 100px 0 0 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
} */
.Container {
    width: 100%;
    display: inline-block;
}

.FlowBox {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.FlowWrap {
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.Flow {
    font-size: clamp(15px, 10vw, 8rem);
    animation: identifier 8s linear infinite;
}

.Flow span {
    display: inline-block;
    font-weight: 600;
    padding: 0 20px;
}


@keyframes identifier {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
/* .body {
    margin:0px;
    padding: 0px;
    width:100%;
    height:100%:
} */
.all-page {
    width: 1920px;
    height: 1080px;
    margin: 0;
}
.map {
    width: 80%;
    object-fit: cover;
    display: block;
    top:10%;
    background-color: #ffd58e;
    margin:0;
}
.Container {
    width:100%;
    display:flex;
    align-items: center;
}

.title {
    background-color: black;
    color: black;
    display:block;
    width: 100%;
    height: 80px;
    background-size:100% 50px;
}
.logo-image {
    position: relative;
    margin-top:0;
}
.logo-image-1 {
    position: relative;
    display:block;
    left:1100px;
    bottom:40px;
}
.bg{
    width:100%;
    min-width: 800px;
    object-fit: cover;
    display: block;
    top:10%;
    background-color: #ffd58e;
    margin:0;
}
.Flow > span {
    font-family: 'GmarketSans';
    font-style: italic;
    font-style: bold;
}
/* .logo{
    height:50px;
    vertical-align: top;
} */

/* logo 항목은 사진 이미지, div로 우선적으로 대체해 볼 예정 */
/* FONT 바꾸고, FLOWwrap 위치 바꿔야함 */